.menu{
  background-color: #F4EEB1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  flex-wrap: wrap;
}

.opcoes{
  justify-content: start;
}

.itemOpcao{
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
}

.login{
  text-decoration: none;
}

.redeSocial{
  margin-left: 5px;
}

a:hover{
  color: white;
  cursor: pointer;
  transition-duration: 200ms;
}

img{
  height: 100px;
  cursor: pointer;
}
