<div class="menu">
  <div class="logo">
    <img src="../../../assets/LibaravoLogo.png" alt="">
  </div>
  <div class="opcoes">
      <a class="itemOpcao">Sobre</a>
      <a class="itemOpcao">Tabela</a>
      <a class="itemOpcao">Classificação</a>
      <a class="itemOpcao">Equipes</a>
      <a class="itemOpcao">Regulamentos</a>
      <a class="itemOpcao">Fotos</a>
  </div>
  <div class="login-redes-sociais">
    <a class="login">Entrar</a>
    <a class="redeSocial">Inst</a>
    <a class="redeSocial">Face</a>
  </div>
</div>
