.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
.container-filho{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  flex-wrap: wrap;
}

.imagem{
  justify-content: end;
  width: 50%;
}

.texto{
  justify-content: stretch;
  width: 50%;
}
